/*Header*/
.header_logo{
    size: ;
}
/*Title with logo*/
.intro_title{
    color: #fff;
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
}

.intro_inner{
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
}

.intro__suptitle{
    margin-bottom: 20px;

    font-family: 'Kaushan Script', cursive;
    font-size: 72px;
    color: #fff;
}

